body{
background:#0b1c2c;
color:white;
font-family:Arial;
text-align:center;
}

.card{
background:#112c44;
padding:30px;
width:300px;
margin:auto;
border-radius:12px;
}

input,select,button{
width:100%;
margin:8px 0;
padding:10px;
border-radius:6px;
border:none;
}

button{
background:#1e90ff;
color:white;
cursor:pointer;
}
