body.bg {
    background: url('https://images.unsplash.com/photo-1462331940025-496dfbfc7564') no-repeat center;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: Arial;
}

.center {
    margin-top: 20%;
}

.btn {
    padding: 10px 20px;
    background: blue;
    color: white;
    text-decoration: none;
}
