/* ===== GLOBAL ===== */
body{
margin:0;
font-family: "Segoe UI", sans-serif;
background: linear-gradient(135deg,#020617,#020617,#020617,#020617,#0f172a);
color:white;
}

/* ===== SIDEBAR ===== */
.sidebar{
position:fixed;
width:240px;
height:100%;
background:rgba(0,0,0,0.85);
backdrop-filter:blur(10px);
padding:25px;
box-shadow:0 0 25px rgba(0,0,0,0.5);
}

.sidebar h4{
margin-bottom:30px;
}

.sidebar a{
display:block;
padding:12px;
margin:8px 0;
border-radius:10px;
text-decoration:none;
color:white;
transition:0.3s;
}

.sidebar a:hover{
background:#1e293b;
}

/* ===== CONTENT ===== */
.content{
margin-left:260px;
padding:50px;
}

/* ===== CARD ===== */
.card{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(20px);
padding:30px;
border-radius:20px;
width:420px;
box-shadow:0 0 30px rgba(0,0,0,0.4);
}

/* ===== INPUT ===== */
input,select{
width:100%;
padding:12px;
margin-top:10px;
margin-bottom:15px;
border:none;
border-radius:10px;
background:#111827;
color:white;
}

/* ===== BUTTON ===== */
button{
width:100%;
padding:14px;
border:none;
border-radius:12px;
background:#facc15;
font-weight:600;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#fde047;
}

/* ===== RESULT ===== */
.result{
margin-top:20px;
font-size:20px;
font-weight:600;
}
